{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ariel;
}
.logo{
    background-color: #eae211;
    display: flex;
    justify-content: center;
    padding-top: 0%;
    border-radius: 30px;
    border-block-end: 5px;
    font-display: center;
    margin: 20px;
    padding-top: 9px;
   
    
}


h3{
    background-color: black;
    color: #eae211;
    padding-top: 10px;
    padding-bottom: 10p;    
}
a{
    width: 70px;
    margin: 20px;
    color: black;
    text-decoration: none;
}
h5{
    justify-content: end;
    background-color: black;
    color: #eae211;
    border-radius: 20px;
    width: 100px;
    margin: 20px;
    text-align: center;
    padding-top: 5px;
    text-decoration: none;
}
.item1{
    text-align: center;
    font-size: xx-large;
    font-weight: 300;
    
}
p{
    color: black;
    padding-bottom: ;
    font-size:large;
    line-height: 1;
}
.btn{
    background-color: black;
    width: 200px;
    margin-bottom: 10px;
}
.btn a{
    color: white;
    text-decoration: none;
}
.item2{
    background-color:#4073a8;
    color: #eae211;
    height: 370px;
    width: 850px;
    border-radius: 30px;
    line-height: 10px;
}
.b{
    width: 250px;
    height: 75px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: xx-large;
    margin: 10px;
    ;
}
.C{
    width: 250px;
    height: 75px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: xx-large;
    margin: 10px;
}
.D{
    width: 250px;
    height: 75px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: xx-large;
    margin: 10px;
}
.E{
    width: 250px;
    height: 75px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: xx-large;
    margin: 10px;
}
.item3{
    text-align: center;
    font-size: x-large;
    font-weight: 300;
}

